body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.styles-4all {
  display: flex;
  align-items: center;
}

.fonts-1 {
  font-family: 'Crete Round', serif;
}

.fonts-2 {
  font-family: 'Roboto', sans-serif;
}

.fonts-3 {
  font-family: 'Poppins', sans-serif;
}

.fonts-4 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.p-color {
  color: #fff;
}

.hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.page-top {
  background-color: #3c3a39;
  align-items: center;
  letter-spacing: 0.35px;
}

.top-nav {
  justify-content: space-between;
  padding: 10px 5px 65px 10px;
}

.nav-items {
  text-decoration: none;
  align-items: center;
}

.main {
  width: 100%;
  background-color: #1c1a19;
  padding-top: 30px;
  height: 640px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("imgs/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 80%;
}

.Welcome {
  padding: 15px 0 0 15px;
  font-size: 40px;
  color: #ff6b00;
  margin-top: 35px;
}

.Welcome-h2 {
  padding: 0 0 0 15px;
  margin-top: -10px;
  color: #fff5e1;
}

.content {
  padding: 0 0 0 15px;
  margin-top: 10px;
  align-items: center;
  font-size: 18px;
  z-index: 20;
  letter-spacing: 0.3px;
}

.mobile-logo {
  z-index: 25;
  position: absolute;
}

.social-media {
  margin-top: 30px;
  display: flex;
}

.social-media > a {
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.media-link {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.Middle-page {
  background-color: #e5e5e5;
  height: 100%;
  margin-top: -35px;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
}

.Middle-page > h1 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: -40px;
  font-size: 40px;
}

.stand-alone {
  padding-top: -30px;
  margin-left: -5px;
  margin-right: -5px;
}

.stand-alone-head {
  font-size: 32px;
  color: #091e42;
  padding-top: -10px;
  margin-bottom: -10px;
}

.stand-alone-p {
  color: #091e42;
  padding-top: -10px;
}

.buttons {
  display: flex;
  margin-left: -12%;
}

.button-text {
  padding: 10px 15px;
  list-style: none;
  border: 1px solid;
  line-height: 24px;
  margin: 5px;
}

.button-text > a {
  text-decoration: none;
}

.grid {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  grid-gap: 20px;
  padding-bottom: 90px;
}

.grid-body {
  width: 100%;
  background-image: url("imgs/Img-Placeholder-1.png");
  background-repeat: no-repeat;
  margin-top: 10px;
}

.grid-head {
  font-size: 30px;
  line-height: 40px;
  padding-top: 55px;
  font-weight: normal;
  padding-left: 10px;
}

.grid-text {
  padding-left: 10px;
  line-height: 25px;
  color: #fff;
}

.grid-buttons {
  display: flex;
  margin-left: -35px;
}

.grid-buttons-text {
  padding: 10px 15px;
  list-style: none;
  border: 1px solid;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.24);
}

.grid-buttons-text > a {
  text-decoration: none;
  color: #fff;
}

.resume {
  background-color: #ff6b00;
  color: #fff;
  height: 40px;
  width: 91.8%;
  padding: -10px;
  margin-top: -10px;
  border: none;
}

.about-area {
  background: #1c1a19;
  padding-left: 15px;
  padding-bottom: 60px;
  margin-top: 80px;
}

.about-content {
  width: 100%;
  background-color: #1c1a19;
  padding-top: 30px;
  height: 640px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("imgs/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 70%;
}

.about-head {
  font-family: 'Crete Round', serif;
  font-size: 70px;
  line-height: 40px;
  color: #fff;
  font-weight: normal;
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding-left: 10px;
  line-height: 25px;
  color: #f4f5f7;
  margin-top: -20px;
}

.click {
  background-color: #ff6b00;
  height: 35px;
  width: auto;
  padding: -10px;
  border: none;
}

.about-content > hr {
  color: #fff;
  width: 80%;
  margin-top: 55%;
}

.lang-d {
  justify-content: center;
  margin-left: -40px;
}

.my-shape {
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
}

.diamond {
  transform: rotate(-45deg);
}

.circle {
  border-radius: 100%;
}

.items-h {
  padding-left: 15px;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
}

.items {
  list-style: none;
  flex-direction: column;
}

.items-link {
  line-height: 45px;
  text-decoration: none;
  font-size: 22px;
  align-items: center;
  margin-left: -60px;
}
